In [1]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\az\anaconda3\lib\site-packages (0.8.1)
Requirement already satisfied: requests>=2.3.0 in c:\users\az\anaconda3\lib\site-packages (from pandas_datareader) (2.18.4)
Requirement already satisfied: pandas>=0.21 in c:\users\az\anaconda3\lib\site-packages (from pandas_datareader) (0.24.2)
Requirement already satisfied: lxml in c:\users\az\anaconda3\lib\site-packages (from pandas_datareader) (4.3.2)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\az\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\az\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\az\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2019.3.9)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\az\anaconda3\lib\site-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: pytz>=2011k in c:\users\az\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in c:\users\az\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\az\anaconda3\lib\site-packages (from pandas>=0.21->pandas_datareader) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\az\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.21->pandas_datareader) (1.12.0)

In [2]:
#import external pandas_datareader library with alias of web
import pandas_datareader as web
 
#import datetime internal datetime module (a Python module)
import datetime as dt

In [4]:
#dt.datetime is a data type within the datetime module
start = dt.datetime(2000, 1, 1)
end = dt.datetime(2019, 10, 20)

In [5]:
#DataReader method name is case sensitive
df_apple = web.DataReader("aapl", 'yahoo', start, end)
 
#invoke to_csv for df dataframe object from 
#DataReader method in the pandas_datareader library 
 
df_apple.to_csv('Apple_stock_prices_volumes_to_csv.csv')

In [6]:
df_microsoft = web.DataReader("msft", 'yahoo', start, end)
df_microsoft.to_csv('Microsoft_stock_prices_volumes_to_csv.csv')

In [16]:
df_microsoft.head()

                High     Low      Open     Close       Volume  Adj Close
Date
2000-10-02  30.40625  29.125  30.25000  29.56250   58562400.0  19.083975
2000-10-03  29.90625  28.250  29.78125  28.28125   85374000.0  18.256872
2000-10-04  28.28125  27.250  28.18750  27.71875  136453400.0  17.893749
2000-10-05  28.62500  27.625  27.75000  27.68750   81099400.0  17.873575
2000-10-06  28.37500  27.375  27.90625  27.78125   61794000.0  17.934093

In [15]:
df_microsoft.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object